In [18]:
import sys
import pandas as pd
import numpy as np
import re

In [3]:
fang = pd.read_csv('hi.csv')
#print(fang)

In [4]:
fang

  Name   f1  q1  f2   q2  f3  q3   f4   q4   f5    q5
0  桂枝汤  炙甘草   2  生姜  3.0  桂枝   3   芍药  3.0   大枣  12.0
1  四逆汤  炙甘草   2  干姜  1.5  附子   1  NaN  NaN  NaN   NaN

In [ ]:
class Craft():
    def __init__(self,in_list):
        self.in_list = in_list
        pass
    
    def craft(self):
        pass

In [15]:
player_list1 = [['炙甘草',2],['干姜',1.5],['附子',1]]
player_list2 = [['炙甘草',4],['干姜',1],['附子',1]]

In [23]:
if '炙甘草' in fang.loc[0]:
    print('hi')

In [9]:
fang.loc[0].f1

'炙甘草'

In [27]:
fang.loc[0].str.contains('炙甘草').sum()#这个太好了,可以升级我之前的程序,都有现成写好的方法

1

In [20]:
fang.loc[0]

Name    桂枝汤
f1      炙甘草
q1        2
f2       生姜
q2        3
f3       桂枝
q3        3
f4       芍药
q4        3
f5       大枣
q5       12
Name: 0, dtype: object